<!DOCTYPE html>
<html>
    <head>
        <title>Quak-ID - Aplikasi Kegempaan Indonesia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/quak-id.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css" />

        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>

        <script type="text/javascript" src="/js/jquery.ui.map.full.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

        <style type="text/css">
            table { width:100%; }
            table caption { text-align:left;  }
            table thead th { text-align:left; border-bottom-width:1px; border-top-width:1px; }
            table th, td { text-align:left; padding:6px;}
            #infoWindow {text-align:center} 
            #info {font-style : italic; font-size : 10px; font-family : monospace;}
        </style>

        <script>
            var latest_eq_pos;

            function resizeMap(){
                var mapHeight = (window.innerHeight - ($("#footer_latest").height() + $("#header_latest").height()) - 4);
                $("#map_latest").css("height", mapHeight + "px");
            }
            
            $(window).resize(resizeMap);
            $(document).orientationchange(resizeMap);

            function setUserLocation(userLocation){
                $.mobile.loadingMessageTextVisible = false;
                $.mobile.hidePageLoadingMsg();
                var geocoder = new google.maps.Geocoder();

                geocoder.geocode({ "latLng" : userLocation}, function(results, status){
                    if (status == google.maps.GeocoderStatus.OK) {
                        $("#userLocation").html(results[0].formatted_address);
                    }
                    else {
                        //TODO
                        $("#userLocation").html("Geocoder failed to obtain your location detail");
                    }
                });

                var userPosMarker = $("#map_latest").gmap('addMarker', {position : userLocation, title : 'Lokasi User'});
                userPosMarker.addEventListener("click", function(){
                    $("#map_latest").gmap("openInfoWindow",{ content : "<div id='infoWindow'>Your location<p id='info'><a href='#userLocationDialog' data-rel='dialog'>Click here for more info</a></p></div>" }, userPosMarker);
                });

                $("#map_latest").gmap("addBounds", latest_eq_pos);
                $("#map_latest").gmap("addBounds", userLocation);
                $("#map_latest").gmap("addShape", "Polyline", {path : [userLocation, latest_eq_pos], strokeColor : getStrokeColor(parseInt("{{ latestDepth }}")), strokeWeight : 2});

                //$("#distance").html(parseInt(distance(latest_eq_pos, userLocation)));
                var dist = distance(latest_eq_pos, userLocation);
                $("#display_info").html('You are ±<span id="distance">' + parseInt(dist) +'</span> KM from the earthquake');
                $("#latestDistance").html(Math.round(dist*100)/100 + " KM"); 
            }

            function init() {
                resizeMap()
                var map_latest = $("#map_latest");

                latest_eq_pos = new google.maps.LatLng(parseFloat({{ latest_eq_longitude }}), parseFloat({{ latest_eq_latitude }}));

                map_latest.gmap({mapTypeId : google.maps.MapTypeId.HYBRID, center : latest_eq_pos});
                
                var latestEqMarker = map_latest.gmap("addMarker", {position : latest_eq_pos, title : "Lokasi Gempa"});

                var latestEqInfoWindowContent = "<div id='infoWindow'>The Latest Earthquake Location<p id='info'><a href='#latestEqPosDialog' data-rel='dialog'>Click here for more info</a></p></div>";
                latestEqMarker.addEventListener("click", function(){
                    map_latest.gmap("openInfoWindow", {content : latestEqInfoWindowContent}, latestEqMarker);
                });
                
                map_latest.gmap("openInfoWindow", {content : latestEqInfoWindowContent}, latestEqMarker);
                
                function handleGeolocationQuery(position) {
                    var userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    setUserLocation(userLocation);
                };

                function handleGeolocationError() {
                    fallback();
                };

                if (navigator.geolocation != undefined) {
                    $.mobile.loadingMessageTextVisible = true;
                    $.mobile.loadingMessage = "Waiting for the approval to acquire your location.";
                    $.mobile.showPageLoadingMsg();
                    navigator.geolocation.getCurrentPosition(handleGeolocationQuery, handleGeolocationError);
                }
                else {
                    fallback();
                }

            };

            function fallback() {
                $.mobile.changePage("#fallbackDialog", "pop", true, true);
                setUserLocation(new google.maps.LatLng({{ fallbackLat }}, {{ fallbackLong }}));
            }

            //haversine formula
            function distance(p1, p2) {
                
                Number.prototype.toRad = function() {
                    return this * Math.PI / 180;
                }

                var R = 6371;
                var dLat = (p2.lat()-p1.lat()).toRad();
                var dLon = (p2.lng()-p1.lng()).toRad();
                var lat1 = p1.lat().toRad();
                var lat2 = p2.lat().toRad();

                var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) + Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1) * Math.cos(lat2);
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                var d = R * c;
                return d;
            }

            function getStrokeColor(depth) {
                var color;
                if(depth >= 1 && depth <= 60) {
                    color = "#FF0000";
                } else if(depth >= 61 && depth <= 300) {
                    color = "#FFFF00";
                } else {
                    color = "#33FF00";
                }
                return color;
            } 
        </script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26159289-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    <body onload="init()">
        <div data-role="page" id="one">
            <div data-role="header" id="header_latest" data-position="inline" data-theme="a">
                <h2></h2>
                <a href="/prev_eq" data-role="button" data-icon="arrow-r" class="ui-btn-right">Earthquake History</a>
            </div>

            <div data-role="content" style="padding: 0"> 
                <div id="map_latest" style="width: 100%;"></div>
            </div>

            <div data-role="footer" id="footer_latest">
                <h2 id="display_info">Acquiring Your Location</h2>
            </div>
        </div>

        <div data-role="dialog" id="latestEqPosDialog">
            <div data-role="header">
                <h1>Latest Earthquake Info</h1>
            </div>
            <div data-role="content">
                <table summary="Informasi Gempa Terakhir">
                    <tr>
                        <th scope="row">Magnitude</th>
                        <td id="latestMagnitude">{{ latestMagnitude }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Distance</th>
                        <td id="latestDistance"></td>
                    </tr>
                    <tr>
                        <th scope="row">Tsunami Status</th>
                        <td id="latestTsunamiStatus">{{ latestTsunamiStatus }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Depth</th>
                        <td id="latestDepth">{{ latestDepth }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Date</th>
                        <td id="latestDate">{{ latestDate }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Time</th>
                        <td id="latestTime">{{ latestTime }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Latitude</th>
                        <td id="latestLat">{{ latest_eq_latitude }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Longitude</th>
                        <td id="latestLong">{{ latest_eq_longitude }}</td>
                    </tr>
                </table>

                <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="arrow-l">Back</a>
            </div>
        </div>

        <div data-role="dialog" data-url="userLocationDialog">
            <div data-role="header">
                <h1>Location Detail</h1>
            </div>

            <div data-role="content">
                <p style="text-align : center" id="userLocation"></p>
                <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="arrow-l">Back</a>
            </div>
        </div>

        <div data-role="dialog" id="fallbackDialog">
            <div data-role="header"><h1>Ooops...</h1></div>

            <div data-role="content">
                Dont worry, let us explain. It is either :
                <ol>
                    <li>You refuse to share your location <b>OR</b></li>
                    <li>An error happen when trying to acquire your location <b>OR</b></li>
                    <li>You use browser version that does not support location tracking</li>
                </ol>

                <p>In order to serve the user correctly, we still track your location using the IP address you use. Relax, we do not store/share your location information to any other 3rd party. We promised :-) !</p>
                <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete">Close</a>
            </div>
        </div>
    </body>
</html>
