<html>
    <head>
        <title>Quak-ID - Aplikasi Kegempaan Indonesia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/quak-id.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css" />

        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>

        <script type="text/javascript" src="/js/jquery.ui.map.full.min.js"></script>

        <style type="text/css">
            table { width:100%; }
            table caption { text-align:left;  }
            table thead th { text-align:left; border-bottom-width:1px; border-top-width:1px; }
            table th, td { text-align:left; padding:6px;}
            #infoWindow {text-align:center} 
            #info {font-style : italic; font-size : 10px; font-family : monospace;}
        </style>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26159289-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header" data-position="fixed">
                <h1></h1>
                <a href="/" data-role="button" data-icon="arrow-l" class="ui-btn-left">Latest Earthquake</a>
            </div>

            <div data-role="content">
                <ul data-role="listview" data-theme="a">
                    {% for eq in list_eq %}
                    <li>
                        <h3>{{ eq.magnitude }}</h3>
                        <p>Depth : {{ eq.depth }}</p>
                        <p>{{ eq.area }}</p>
                        <p class="ui-li-aside">{{ eq.date}} <br /> {{ eq.time }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
